requests
requests-oauthlib
pyTelegramBotAPI
python-dotenv
autopep8
google-auth
google-auth-oauthlib
gspread
oauth2client
oauthlib
rsa
six
urllib3
pyasn1
pyasn1-modules
pyparsing
httplib2
idna
cachetools
certifi
charset-normalizer
sentry_sdk
